/* footer.component.scss */
.footer {
  padding: 70px 0 50px;
  text-align: center;
}

.social-links {
  margin-bottom: 30px;
}

.social-links a {
  margin: 0 15px;
  display: inline-block;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-links a:hover img {
  transform: translateY(-3px);
}

.footer p {
  color: #888;
  font-size: 14px;
}