<footer class="footer">
  <app-social-links></app-social-links>
  <p>Copyright ©2020 All rights reserved</p>
</footer><!-- footer.component.html -->
<footer class="footer">
  <div class="container footer__inner">
    <div class="social-links">
      <a href="#"><img src="assets/icons/fb.svg" alt="fb"></a>
      <a href="#"><img src="assets/icons/insta.svg" alt="ig"></a>
      <a href="#"><img src="assets/icons/twitter.svg" alt="tw"></a>
      <a href="#"><img src="assets/icons/linkedin.svg" alt="in"></a>
    </div>
    <p>Copyright ©2020 All rights reserved</p>
  </div>
</footer>