/* header.component.scss */
.header {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 60px;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.nav a.active,
.nav a:hover {
  color: #FF6464;
}